/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*------------------------------------*\
    $VARIABLES - COLORS
\*------------------------------------*/
/*------------------------------------*\
    $VARIABLES - FONTS
\*------------------------------------*/
/*------------------------------------*\
    $VARIABLES - DIMENSIONS
\*------------------------------------*/
/* line 1, ../sass/modules/_base.scss */
* {
  box-sizing: border-box;
}

/* line 3, ../sass/modules/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  color: #292c2d;
  overflow: hidden;
}

/* line 1, ../sass/modules/_menu.scss */
.menu {
  margin-top: 22px;
  margin-bottom: 22px;
  padding-left: 33px;
  padding-right: 33px;
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/modules/_menu.scss */
  .menu {
    margin-top: 22px;
    margin-bottom: 22px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/modules/_menu.scss */
  .menu {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 1, ../sass/modules/_menu.scss */
  .menu {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 125px;
    padding-right: 125px;
  }
}

/* line 28, ../sass/modules/_menu.scss */
.ul-horizontal {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  list-style: none;
}

/* line 1, ../sass/modules/_banner.scss */
.banner {
  margin-right: 33px;
  margin-left: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #000;
  border-right: none;
  border-left: none;
  overflow: hidden;
}
@media only screen and (min-width: 576px) {
  /* line 1, ../sass/modules/_banner.scss */
  .banner {
    margin-right: 33px;
    margin-left: 33px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/modules/_banner.scss */
  .banner {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/modules/_banner.scss */
  .banner {
    margin-right: 80px;
    margin-left: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 1, ../sass/modules/_banner.scss */
  .banner {
    margin-right: 125px;
    margin-left: 125px;
  }
}

/* line 46, ../sass/modules/_banner.scss */
.banner-image, .banner-text {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-bottom: 45px;
  height: 60px;
}
@media only screen and (min-width: 576px) {
  /* line 46, ../sass/modules/_banner.scss */
  .banner-image, .banner-text {
    height: 60px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 46, ../sass/modules/_banner.scss */
  .banner-image, .banner-text {
    height: 100px;
    margin-top: 50px;
    margin-bottom: 45px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 46, ../sass/modules/_banner.scss */
  .banner-image, .banner-text {
    height: 165px;
    margin-top: 60px;
    margin-bottom: 65px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 46, ../sass/modules/_banner.scss */
  .banner-image, .banner-text {
    height: 180px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

/* line 82, ../sass/modules/_banner.scss */
.banner-text {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/* line 89, ../sass/modules/_banner.scss */
.banner-company-img {
  margin-top: -12.01001px;
  width: 90px;
  height: 23.26939px;
}
@media only screen and (min-width: 576px) {
  /* line 89, ../sass/modules/_banner.scss */
  .banner-company-img {
    margin-top: -24.02002px;
    width: 180px;
    height: 46.53878px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 89, ../sass/modules/_banner.scss */
  .banner-company-img {
    margin-top: -32.02669px;
    width: 240px;
    height: 62.05171px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 89, ../sass/modules/_banner.scss */
  .banner-company-img {
    margin-top: -32.02669px;
    width: 240px;
    height: 62.05171px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 89, ../sass/modules/_banner.scss */
  .banner-company-img {
    margin-top: -32.02669px;
    width: 240px;
    height: 62.05171px;
  }
}
/* line 114, ../sass/modules/_banner.scss */
.banner-company-img.alone {
  margin-top: -30.96774px;
  width: 232.06452px;
  height: 60px;
}
@media only screen and (min-width: 576px) {
  /* line 114, ../sass/modules/_banner.scss */
  .banner-company-img.alone {
    margin-top: -30.96774px;
    width: 232.06452px;
    height: 60px;
    margin-bottom: 30.96774px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 114, ../sass/modules/_banner.scss */
  .banner-company-img.alone {
    margin-top: -34.4086px;
    width: 386.77419px;
    height: 100px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 114, ../sass/modules/_banner.scss */
  .banner-company-img.alone {
    margin-top: -42.58065px;
    width: 638.17742px;
    height: 165px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 114, ../sass/modules/_banner.scss */
  .banner-company-img.alone {
    margin-top: -46.45161px;
    width: 696.19355px;
    height: 180px;
    margin-bottom: 46.45161px;
  }
}

/* line 143, ../sass/modules/_banner.scss */
.banner-competence-name {
  font-weight: 800;
  line-height: 0.8em;
  text-align: right;
  text-transform: uppercase;
  font-size: 2em;
}
@media only screen and (min-width: 576px) {
  /* line 143, ../sass/modules/_banner.scss */
  .banner-competence-name {
    font-size: 3em;
  }
}
@media only screen and (min-width: 768px) {
  /* line 143, ../sass/modules/_banner.scss */
  .banner-competence-name {
    font-size: 4em;
  }
}
@media only screen and (min-width: 992px) {
  /* line 143, ../sass/modules/_banner.scss */
  .banner-competence-name {
    font-size: 5em;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 143, ../sass/modules/_banner.scss */
  .banner-competence-name {
    font-size: 6em;
    font-weight: 900;
  }
}
/* line 170, ../sass/modules/_banner.scss */
.banner-competence-name.without {
  display: none;
}

/* line 177, ../sass/modules/_banner.scss */
.banner-hidden {
  display: static;
  opacity: 0.5;
}

/* line 185, ../sass/modules/_banner.scss */
.banner-separation {
  height: 40px;
}

/* line 1, ../sass/modules/_main-description.scss */
.main-content {
  padding-left: 33px;
  padding-right: 33px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/modules/_main-description.scss */
  .main-content {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/modules/_main-description.scss */
  .main-content {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 1, ../sass/modules/_main-description.scss */
  .main-content {
    padding-left: 125px;
    padding-right: 125px;
  }
}

/* line 24, ../sass/modules/_main-description.scss */
.main-description-content {
  max-width: 500px;
}

/* line 31, ../sass/modules/_main-description.scss */
a.main-description-button {
  margin-top: 50px;
  height: 45px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  line-height: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border: none;
}
/* line 54, ../sass/modules/_main-description.scss */
a.main-description-button > * {
  transition: all 0.3s;
}
/* line 58, ../sass/modules/_main-description.scss */
a.main-description-button > p {
  transform: translateX(6px);
}
/* line 62, ../sass/modules/_main-description.scss */
a.main-description-button > svg.svg-arrow {
  height: 12px;
  width: 12px;
  transform: translateX(12px);
  opacity: 0;
}
/* line 69, ../sass/modules/_main-description.scss */
a.main-description-button:hover {
  text-decoration: none;
}
/* line 71, ../sass/modules/_main-description.scss */
a.main-description-button:hover > p {
  transform: translateX(-4px);
}
/* line 74, ../sass/modules/_main-description.scss */
a.main-description-button:hover > .svg-arrow {
  transform: translateX(4px);
  opacity: 1;
}

/* :after {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  margin-right: -$button-arrow-size;
  background-color: black;
  height: $button-arrow-size;
  width: $button-arrow-size;
  transform: translateX($button-arrow-size);
} */
/* line 2, ../sass/modules/_menu-competences.scss */
.menu-competences {
  list-style: none;
}

/* line 9, ../sass/modules/_menu-competences.scss */
.transition-translateY {
  transition: all 1s linear;
  transform: translateY(-25px);
}

/* line 15, ../sass/modules/_menu-competences.scss */
.transition-fadeIn {
  transition: all 1s linear;
  transform: translateY(-25px);
  opacity: 1;
}

/* line 21, ../sass/modules/_menu-competences.scss */
.transition-fadeOut {
  transition: all 1s linear;
  transform: translateY(-25px);
  opacity: 0;
}

/* line 27, ../sass/modules/_menu-competences.scss */
.hidden {
  transition: all 0s;
  opacity: 0;
}

/* line 32, ../sass/modules/_menu-competences.scss */
.item-competences {
  padding-top: 2px;
  padding-bottom: 2px;
  height: 25px;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: right;
}

/* line 48, ../sass/modules/_menu-competences.scss */
.link-competences {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}
/* line 59, ../sass/modules/_menu-competences.scss */
.link-competences > .svg-arrow {
  height: 12px;
  width: 12px;
  transform: translateX(12px);
  opacity: 0;
  transition: all 0.3s;
}
/* line 68, ../sass/modules/_menu-competences.scss */
.link-competences:hover {
  text-decoration: none;
}
/* line 70, ../sass/modules/_menu-competences.scss */
.link-competences:hover > p {
  transition: all 0.3s;
  transform: translateX(-24px);
}
/* line 75, ../sass/modules/_menu-competences.scss */
.link-competences:hover > .svg-arrow {
  transition: all 0.3s;
  transform: translateX(-12px);
  opacity: 1;
}
