* { box-sizing: border-box; }

html, body {
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  color: $black;
}

body {

  height: 95vh;

 // background: #F3F8F2;
 background-color: #F8F4A6;

 background: #11998e;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to bottom, #F8F4A6, #F0EC57);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to bottom, #F8F4A6, #F0EC57); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
